body{
    text-align: center;
}
table,th,td { 
    text-align: center;
    border:1px solid black; 
}
table {
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    margin: 10px auto;
    width: 100%;
}
img{
    height: 180px;
}

#allAns{
    text-align: center;
    margin: 10px auto;
    width: 80%;
}
#h_class{
    padding: 20px 10px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: rgb(249, 250, 215);;
}

.midBodyStart, #midBodyOther{
    padding: 20px 10px;
    margin: 15px 5px;
    border-radius: 5px;
    color: black;
    background-color: rgb(249, 250, 215);
}

#startButton, #homeButton{
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    text-align: center;   
    font-weight: bold;
    color: #fff;
    background-color: #5db660;
    border: none;
    border-radius: 15px;
}
#startButton:hover, #homeButton:hover{
    background-color: #5db660;
    box-shadow: 5px 5px 5px dimgrey;
}
#startButton:active, #homeButton:active{
    position: relative;
    right: -5px;
    top: 5px;
    box-shadow: 0px 0px 0px dimgrey;
}

#typeButton{
    display: inline-block;
    padding: 15px 30px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    font-weight: bold;
    color: #fff;
    background-color: #57899c;
    border: none;
    border-radius: 15px;
}
#typeButton:hover{
    background-color: #57899c;
    box-shadow: 5px 5px 5px dimgrey;
}
#typeButton:active{
    position: relative;
    right: -5px;
    top: 5px;
    box-shadow: 0px 0px 0px dimgrey;
}

.radio_option{
    width: 30px;
    height: 30px;
}
label{
    font-size: 30px;
    margin: 0px 30px 0px 0px;
}
.radio_div{
    background-color: #8ee4df;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;   
    font-weight: bold;
}
